<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
        #parse("getpuk/head.vm")
   </head>
   <body>
      <div class="module19Box" id="module19Box">
      <div class="dvSuccessWrapper">
			<img src="//static.o2.co.uk/shared/img/modules/tick.png" />
			<span class="successMsg">We have found your PUK code.</span>
      </div>
      <div class="grid">
         <div class="grid-row">
            <div class="default-content-container">
               <div class="text">
 				<p id="puk-qa">Your PUK code is  $puk</p>
 				<p>To unblock your sim, enter the code when prompted by your phone</p>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>