<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" type="text/css" href="webcontent/css/mystyle.css">
<script src="webcontent/js/puk.js"></script>
</head>
<body>
<div class="module19Box">

<div id="dvError">
#foreach( $error in $errors )
    <div>
    	<div id="dvMsg">$error.message</div>
    	<div id="dvDesc">$error.description</div>
    </div>
#end
</div>

<fieldset>
<form name="PUKForm" method="post" >

	<label for="MPN">Enter your mobile number</label>
	<input type="text" name="mpn" id="MPN" class="mobilenumberField" maxlength="20" value="" required/>
	<input type="submit" id="btnSubmit" alt="Go" value="Go" title="Go" class="srchGoBtnContent"/> <!-- adding disabled will validate the captcha response-->
	<input type="hidden" name="viewmode" value="getPuk"/>
	<div style="visibility: ${showCaptcha};" class="g-recaptcha" data-sitekey=${sitekey} data-callback="recaptchaCallback" ></div>
</form>
</fieldset>

<img src="webcontent/img/1.jpg" alt="Test Image" >  
</body>
</html>