<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">
 
	<!-- <context:property-placeholder
		location="file://${CATALINA_BASE}/appdata/getpuk.properties"
		ignore-resource-not-found="true" /> -->
 
	<bean id="mailProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="file://${CATALINA_BASE}/appdata/getpuk.properties" />
	</bean>

	<bean id="prop"
		class="uk.co.o2.DynamicProperties">
		<constructor-arg value="file://${CATALINA_BASE}/appdata/getpuk.properties"/>
	</bean>

  </beans>