<?xml version="1.0"?>
<configuration>
	<property name="BASE_PATH" value="${CATALINA_HOME}/logs/getpuk" />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${BASE_PATH}/console.log</file>
		<append>true</append>
		<encoder>
			<pattern>%X{RequestId} %-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>
	<appender name="APPLICATION-LOG-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${BASE_PATH}/getPUK2.log</file>
		<append>true</append>
		<encoder>
			<pattern>%X{RequestId} %-4relative %d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %-5level %logger{35}  - %msg %n 
			</pattern>
		</encoder>
	</appender>

	<appender name="MIS-LOG-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${BASE_PATH}/getPUK2mis.log</file>
		<append>true</append>
		<encoder>
			<pattern>%X{RequestId} %-4relative [%thread] %-5level %logger{35} %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>


	<!-- additivity=false ensures analytics data only goes to the analytics 
		log -->
	<logger name="org.springframework.cache" level="all">
		<appender-ref ref="APPLICATION-LOG-FILE" />
	</logger>
	<logger name="application_log" level="INFO" additivity="false">
		<appender-ref ref="APPLICATION-LOG-FILE" />
	</logger>

	<!-- additivity=false ensures analytics data only goes to the analytics 
		log -->
	<logger name="mis_log" level="DEBUG" additivity="false">
		<appender-ref ref="MIS-LOG-FILE" />
	</logger>

	<root>
		<appender-ref ref="FILE" />
	</root>
</configuration>
