<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta name="description"
          content="Welcome to O2, the leading mobile phone site on the web. You can discover the world of O2 from network information to new services, like media messaging and mobile email. You can purchase mobile phones via our online shop where you can discover different tariffs, bolt on's and amazing deals on mobile phones."/>
    <meta name="keywords"
          content="02, o2, o2.co.uk, www.o2.co.uk, o2 Active, mobile phone, wap, media messaging, free text message, free sms, mobile games, java game, free email, email address, blackberry, xda, o2 xda, 901, nokia ringtone, ringtone, polyphonic ringtone, buy mobile phone, cheap mobile phone, 3650 nokia, 7250 nokia, samsung V200, sony ericsson P800, ericsson sony t610, sony ericsson P800, 87 gd panasonic"/>
    <meta name="WT.cg_n" content=""/>
    <title>Unblock my mobile - Help - O2</title>

    

    	
             
	         	  <!-- served by OPP brandfragments (1476938591232) /header?resultsState=tpGetpuk&amp;noICG=1 -->

  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="robots" content="index,follow" />
  <meta name="distribution" content="global" />
  <meta name="content-language" content="en" />
  <link href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/wrapperBD.css" type="text/css" media="all" rel="stylesheet" charset="utf-8" />
  <link href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/fragmentStyle.css" type="text/css" media="all" rel="stylesheet" charset="utf-8" />
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/core.js" type="text/javascript"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/topNav.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/main.css" type="text/css" media="all" charset="utf-8" />
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/print.css" type="text/css" media="print" charset="utf-8" />
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/sifr/screen.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/sifr/print.css" type="text/css" media="print" charset="utf-8" />
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/dev.css" type="text/css" media="all" charset="utf-8" />
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/offspring.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/sifr/sifr.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/sifr/setup.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/mootools.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/js/global.js" type="text/javascript"></script>
  <!--[if lte IE 6]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/ie6.css); /* ]]> */</style><![endif]-->
  <link rel="stylesheet" href="http://static.o2.co.uk/assets/O2HybridNav/Static-files/css/aggiustatutto.css" type="text/css" media="all" charset="utf-8" />
  <link rel="stylesheet" href="//static.o2.co.uk/brandfragments/css/quicklinks.css" type="text/css" media="all" />
</head>
<body>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/coremetrics/eluminate.js" type="text/javascript"></script>
  <script src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/coremetrics/cmdatatagutils.js" type="text/javascript"></script>
  <script language="javascript1.2" src="http://static.o2.co.uk/assets/O2HybridNav/Static-files/coremetrics/Getpuk.js" type="text/javascript"></script>
<script language="javascript1.2" type="text/javascript">
<!--
cmTrue = 1;
-->
</script>
  <div>
    <a href="#a_content" class="access_hide" title="Jump to content">Jump to content</a>
    <a href="#a_nav" class="access_hide" title="Jump to navigation">Jump to navigation</a>
  </div>
  <div id="wrapper">
    <div id="top_banner">
    <div id="quickLinks">
  <ul><li>| &raquo; <a href="http://www.o2.co.uk/cookiepolicy" title="O2 Cookie Policy">Cookie Policy</a></li><li>&raquo; <a href="http://www.o2.co.uk/storelocator" title="O2 Store locator">Store locator</a></li></ul>
</div>
      <h1 id="logo">
        <a href="http://www.o2.co.uk/" title="Return to the O2 home page"><span>O2</span></a></h1>
      <div id="top_row">
        <!-- topHeader - login -->
        <div id="welcome">
          <script type="text/javascript">

            document.write("<!-- s Login -->" + writeThis() + "<!-- e Login -->");

          </script>
          <noscript>
            <span>Welcome</span>
            <a href="https://accounts.o2.co.uk/signin" title="Sign In">Sign In</a> / <a href="https://identity.o2.co.uk/logout" title="Sign out of your account">Sign Out</a> or <a href="https://accounts.o2.co.uk/register" title="Register">Register</a>
          </noscript>
        </div>
        <!-- topHeader - login -->
        <!-- topHeader - searchBox -->
        
        <form id="global_search_form" action="/puk/" method="post">
        <fieldset>
          <label for="keyword">Search:</label>
          <input class="search_input" type="text" id="keyword" name="mpn" value="Search O2" />
          <input class="search_btn" type="submit" id="submit_btn" name="sumbit" value="Submit" />
          <a href="#" title="Submit Search" id="submit_img"><span>Submit Search</span></a>
        </fieldset>
        </form>
        <!-- / topHeader - searchBox -->
      </div>
      <div id="bottom_row">
        <a name="a_nav"></a>
        <ul id="main_nav">
          <li class="l1">
            <a href="http://www.o2.co.uk/explore" class="main_link" title="Explore"><span>Explore</span> </a>
            <a href="#a_explore_menu" class="expand_link" title="View more in Explore"><span>(Jump to Explore Links)</span> </a>
          </li>
          <li class="l2">
            <a href="http://www.o2.co.uk/shop" class="main_link" title="Shop"><span>Shop</span> </a>
            <a href="#a_shop_menu" class="expand_link" title="View more in Shop"><span>(Jump to Shop Links)</span> </a>
          </li>
          <li class="l3 pad_right">
            <a href="http://www.o2.co.uk/support" class="main_link" title="Support"><span>Support</span> </a>
            <a href="#a_support_menu" class="expand_link" title="View more in Support"><span>(Jump to Support Links)</span> </a>
          </li>
          <li class="l4 no_right_marg">
            <a href="http://www.o2.co.uk/myo2" class="main_link" title="My O2"><span>My O2</span> </a>
            <a href="#a_myo2_menu" class="expand_link" title="View more in My O2"><span>(Jump to My O2 Links)</span> </a>
          </li>
          <li class="l5 small last">
            <a href="http://www.o2.co.uk/business" title="Visit O2 Business Site"><span>O2 Business</span> </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="page_wrap">
      <div id="top_row1">
        <div id="menus">
          <a id="a_explore_menu" name="a_explore_menu"></a>
          <div class="menu_container" id="explore_menu">
            <div class="menu_rows">
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/blueroom/">The O2 &amp; Academy venues</a>
                  <p>What's on at The O2 and the O2 Academy venues?</p>
                </div>
                <div class="menu_nav">
                  <a href="http://www.o2priority.co.uk/">Priority</a>
                  <p>Exclusive offers with Priority Moments and Priority Tickets to the O2.</p>
                </div>
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/recycle">O2 Recycle</a>
                  <p>Get cash for your mobile and help the environment.</p>
                </div>
                <div class="menu_nav last">
                  <a href="http://www.o2.co.uk/bluebook">Back up your contacts. Free</a>
                  <p>Back up your names and numbers with Bluebook.</p>
                </div>
                <br />
              </div>
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2more.co.uk/">O2 More</a>
                  <p>Sign up to great offers from our chosen partners.</p>
                </div>
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/network/">Our Network</a>
                  <p>How we keep you connected, and future innovations.</p>
                </div>
                
                <div class="menu_nav last">
                  <a title="Let's Think Big" href="http://www.o2.co.uk/thinkbig/" target="_blank">Let's Think Big</a>
                  <p>Working with people and protecting the planet.</p>
                </div>
              </div>
              <br />
              <!-- end menu rows -->
            </div>
            <br />
          </div>
          <a id="a_shop_menu" name="a_shop_menu"></a>
          <div class="menu_container" id="shop_menu">
            <div class="menu_rows">
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://shop.o2.co.uk/recommended_phones">Mobile phones</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/iphone">iPhone</a></li>
                    <li>
                      <a href="http://shop.o2.co.uk/mobile_phones/Pay_Monthly">Pay Monthly phones</a></li>
                    <li>
                      <a href="http://shop.o2.co.uk/mobile_phones/Pay_And_Go">Pay &amp; Go phones</a></li>
                    <li>
                      <a href="https://www.o2.co.uk/upgrade">Upgrade your phone</a></li>
                    <li>
                      <a href="http://accessoryshop.o2.co.uk/">Phone Accessories</a></li>
                    <li>
                      <a href="http://shop.o2.co.uk/promo/GreatDeals">Great deals</a></li>
                  </ul>
                </div>
                <div class="menu_nav">
                  <a href="http://shop.o2.co.uk/recommended_tariffs">Mobile phone tariffs</a>
                  <ul>
                    <li>
                      <a href="http://shop.o2.co.uk/tariffs/18_months/">Pay Monthly tariffs</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/tariffs/simplicity">Simplicity - sim only</a></li>
                    <li>
                      <a href="http://shop.o2.co.uk/tariffs/Pay_and_Go">Pay &amp; Go tariffs</a></li>
                    <li>
                      <a href="https://www.o2.co.uk/upgrade">Renew your contract</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/tariffs/paymonthly#boltons">Pay Monthly Bolt Ons</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/tariffs/payandgo#boltons">Pay &amp; Go Bolt Ons</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/international">International calls</a></li>
                  </ul>
                </div>
                <div class="menu_nav last">
                  <a href="http://www.o2.co.uk/broadband">Broadband</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/broadband">Home broadband</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/broadband/homephone">Home Phone</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/broadband/mobile">Mobile broadband</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/broadband/ipad-tariff-data-plans">Tablets</a></li>
                    <li>
                      <a href="http://shop.o2.co.uk/ipadtariffs/index.html">Data Plans for iPad 2</a></li>
                  </ul>
                </div>
              </div> 
              <br />
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/shop/paygotopup">Mobile phone top up</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/shop/paygotopup">Other ways to top up</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/shop/paygotopup/topupabroad">Top up abroad</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/shop/paygotopup/webtopup">Top-Up online</a></li>
                  </ul>
                </div>
                <div class="menu_nav">
                  <a title="Mobile phone downloads" href="http://www.o2.co.uk/shop/entertainment">Mobile phone downloads</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/shop/apps">O2 Apps</a></li>
                    <li>
                      <a href="http://o2priority.co.uk/moments">Priority Moments</a></li>
                  </ul>
                </div>
                <div class="menu_nav last">
                  <a href="http://www.o2.co.uk/money">O2 Money</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/money/wallet">O2 Wallet</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/shop/phoneinsurance">Mobile Insurance</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/money/tabletinsurance">Tablet Insurance</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/money/travelinsurance">Travel Insurance</a></li>
                  </ul>
                </div>
              </div>
              <br /> 
              <!-- end menu rows -->
            </div>
            <div class="menu_static">
              <ul class="menu_nav">
                <li>
                  <a href="http://www.o2.co.uk/comingsoon">Coming Soon</a></li>
                <li>
                  <a href="http://mobileguide.o2.co.uk/">Reviews &amp; guides</a></li>
                <li>
                  <a href="http://www.o2.co.uk/shop/phoneinsurance">Insurance</a></li>
                <li>
                  <a href="http://www.o2.co.uk/coveragechecker">UK coverage</a></li>
              </ul>
            </div>
            <br />
          </div>
          <a id="a_support_menu" name="a_support_menu"></a>
          <div class="menu_container" id="support_menu">
            <div class="menu_rows">
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/support/generalhelp">General help</a>
                  <ul>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=Lvl2_JoiningUs,question=ref(User):str(Mobile),varset_BBTOPIC=JoiningUs,varset_BBDISP=Joining%20us">Joining O2</a>
                    </li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=P_Monthly_Lvl2,question=ref(User):str(Mobile),varset_BBTOPIC=Paymonthlyhelp,varset_BBDISP=Pay%20Monthly%20help">Pay monthly</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=PayGo_Lvl2,question=ref(User):str(Mobile),varset_BBTOPIC=PayGohelp,varset_BBDISP=Pay%20&amp;%20Go%20help">Pay &amp; Go</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/explore/tariffs">Mobile phone tariffs</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/guru">O2 Gurus</a></li>
                  </ul>
                </div>
                <div class="menu_nav">
                  <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=Mobile_Support">Mobile phones</a>
                  <ul>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/srvs/cgi-bin/webcgi.exe?New,KB=Companion,question=ref(user):str(Mobile),T=Iphone_Home">iPhone</a></li>
                    <li>
                      <a href="http://blackberry.o2.co.uk/help_support.asp">Blackberry</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=Mobile_Support">Other phones&hellip;</a></li>
                    <li>
                      <a href="http://mobileguide.o2.co.uk/">Mobile phone guides</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/shop/phoneinsurance">Phone insurance</a></li>
                  </ul>
                </div> 
                <div class="menu_nav last">
                  <a href="http://service.o2.co.uk/IQ/srvs/cgi-bin/webcgi.exe?New,KB=Companion,question=ref(user):str(Broadband),t=Broadband_home,remove=cases,varset_searcharea=AllBroadband,cmd=new">Broadband</a>
                  <ul>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(Broadband),T=Broadband_HomeNew">Home Broadband</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(Mobile),T=vanilliafaqs,remove=cases,varset_searcharea=AllMobile,question=ref%28User%29:str%28HomePhone%29,VARSET_WhichFolder=HP1,VARSET_BBTOPIC=HomePhone,cmd=new">Home Phone</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(MobileBroadband),T=MB_Home">Mobile Broadband</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?NEW,KB=Companion,ts=care2_5_customer,question=ref(User):str(MobileBroadband),t=Broadband_case,CASE=30391">O2 Connection Manager</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/support/broadbandinternet/wirelesshotspots">Wi-Fi hotspot locator</a></li>
                  </ul>
                </div>
              </div>
              <br />
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/aguidetoourservices">Using your phone</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/support/broadbandinternet/mobileinternetando2active">Internet on your phone</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/support/generalhelp/howdoi/voicemail901">Voicemail</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/explore/mobileemail">Email on your phone</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/support/generalhelp/howdoi/picturemessaging">Picture messaging</a></li>
                  </ul>
                </div>
                <div class="menu_nav">
                  <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=Lvl2_OurServices,question=ref(User):str(Mobile),varset_BBTOPIC=OurServices,varset_BBDISP=Our%20services">Other products &amp; services</a>
                  <ul>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=MB_Lvl2,question=ref(User):str(MobileBroadband),varset_BBTOPIC=O2Laptops,varset_BBDISP=O2%20Laptops">Laptops</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=vanilliafaqs,remove=cases,varset_searcharea=AllMobile,question=ref(User):str(Mobile),VARSET_WhichFolder=o2moneynew,VARSET_BBTOPIC=o2Money,cmd=new">O2 Money</a></li>
                    <li>
                        <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=Kylie_Lvl2,question=ref(User):str(Mobile),varset_BBTOPIC=O2TopUp,varset_BBDISP=O2%20Top-up%20Surprises" title="O2 Top-up Surprises">O2 Top-up Surprises</a></li></ul>
                </div>
                <div class="menu_nav last">
                  <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(Mobile)">Most popular help topics</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/apps/getPUK/welcome">1. Unblock your mobile</a></li>
                    <li>
                      <a href="http://www.selflearning.co.uk/o2/myo2billing">2. View your bill online</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(Mobile),CASE=12343">3. Keep your mobile number</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=pm6,question=ref(User):str(Mobile),cmd=new">4. Lost or stolen mobiles</a></li>
                    <li>
                      <a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,question=ref(User):str(Mobile),CASE=21780">5. My O2 iPhone app</a></li>
                  </ul>
                </div>
              </div>
              <br />
              <!-- end menu rows -->
            </div>
            <div class="menu_static">
              <ul class="menu_nav">
                <li>
                  <a href="http://www.o2.co.uk/coveragechecker">UK coverage</a></li>
                <li>
                  <a href="http://www.o2.co.uk/international">International &amp; travel</a></li>
                <li>
                  <a href="http://forum.o2.co.uk/">O2 customer forums</a></li>
                <li>
                  <a href="http://www.o2.co.uk/thinkbig/people/childprotection">Child protection</a></li>
                <li>
                  <a href="http://www.o2.co.uk/accessforall/mobilephones">Access for all</a></li>
                <li>
                  <a href="http://o2.asymmetry.co.uk/">Find an O2 store</a></li>
                <li>
                  <a href="http://swapmysim.o2.co.uk/">Swap my sim</a></li>
                  <li>
              <a href="https://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?New,KB=Companion,question=ref(User):str(Mobile),Problem=Obj(19321),T=vanillaCase,VARSET_WhichFolder=PandSnew,VARSET_BBTOPIC=PandServices,VARSET_COBJID=39222,Problem=Obj(39222)">Keeping you secure</a></li>
              </ul>
            </div>
            <br />
          </div>
          <a id="a_myo2_menu" name="a_myo2_menu"></a>
          <div class="menu_container" id="myo2_menu">
            <div class="menu_rows">
              <div class="menu_row">
                <div class="menu_nav">
                  <a href="http://www.o2.co.uk/myo2account">Your mobile account</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/myo2/viewmybill">View bill / balance</a></li>
                    <li>
                      <a href="https://www.o2.co.uk/upgrade">Upgrade / renew</a></li>
                    <li>
                      <a href="https://www.o2.co.uk/webtopup">Top up your Pay &amp; Go phone</a></li>
                    <li>
                      <a href="http://yourfamily.o2.co.uk/familyowner">O2 Family Bolt On members</a></li>
                    <li>
                      <a href="https://accounts.o2.co.uk">Update personal details</a></li>
                  </ul>
                </div>
                <div class="menu_nav">
                  <a href="http://mybroadband.o2.co.uk/">Your broadband account</a>
                  <ul>
                    <li>
                      <a href="https://www.o2broadband.o2.co.uk/customerChangePackage.do">Change package</a></li>
                    <li>
                      <a href="https://www.o2broadband.o2.co.uk/o2GetContactDetails.do">Update personal details</a></li>
                  </ul>
                  <a style="margin-top: 20px;" href="http://www.o2.co.uk/money" title="Your money">Your money</a>
                  <ul>
                    <li>
                      <a href="http://www.o2.co.uk/myo2/o2wallet" title="Manage your O2 Wallet">View/manage your O2 Wallet</a></li>
                  </ul>
                </div>
                <div class="menu_nav last">
                  <a href="http://www.o2.co.uk/myo2">Other services</a>
                  <ul>
                    <li>
                      <a href="https://accounts.o2.co.uk">Update personal details</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/myo2/email/o2webmail">O2 Webmail</a></li>
                    <li>
                      <a href="http://yourfamily.o2.co.uk/o2familycalendar">O2 Calendar</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/blueroom">blueroom - event priorities</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/bluebook">Bluebook - contacts backup</a></li>
                    <li>
                      <a href="http://www.o2.co.uk/myo2/picturemessages">Your picture messages</a></li>
                  </ul>
                </div>
              </div>
              <br />
              <!-- end menu rows -->
            </div>
            <div class="menu_static">
              <ul class="menu_nav">
                <li>
                  <a href="https://www.o2.co.uk/my02/myo2onyourmobile">Get My O2 on your phone</a></li>
                <li>
                  <a href="https://accounts.o2.co.uk">Link/view your o2.co.uk accounts</a></li>
                <li>
                  <a href="https://o2businessaccount.o2.co.uk">Your Business account</a></li>
                <li>
                  <a href="http://o2community.o2.co.uk" title="Get help from the O2 Community">Get help from the O2 Community</a></li>
              </ul>
            </div>
            <br />
          </div>
        </div>
      </div>
      <div id="content">
        <!-- End Header -->
        <!-- 5 -->

	                  
         

         
             
	         	<!-- served by OPP brandfragments (1476938591287) /lefthandnav?resultsState=tpGetpuk&amp;noICG=1&amp;showLogin=cached -->

	











						<!-- Start Complete LHN -->
						<div id="navCol"><a name="a_nav"></a>
											
				






            






<!--id=31-->
<ul id="DefaultLeftNav"><li><a href="http://www.o2.co.uk/support" title="Support" class="levelActive" target="_self">
Support</a><ul class="subLevelTwo">
<li>
<a class="levelActive" href="http://www.o2.co.uk/support/generalhelp" title="General help" target="_self">
General help</a>
<ul class="subLevelThree">
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?,New,KB=Companion,T=Lvl2_JoiningUs,ts=Care2_5_Customer,varset_BBTOPIC=JoiningUs,varset_BBDISP=Joining%20us,question=ref(User):str(Mobile),cmd=new,varset_searcharea=AllMobile" title="Joining us" target="_self">Joining us</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?%20New,KB=Companion,T=P_Monthly_Lvl2,ts=Care2_5_Customer,varset_BBTOPIC=Paymonthlyhelp,varset_BBDISP=Pay%20Monthly%20help,question=ref(User):str(Mobile)" title="Pay Monthly help" target="_self">Pay Monthly help</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?%20New,KB=Companion,T=PayGo_Lvl2,ts=Care2_5_Customer,varset_BBTOPIC=PayGohelp,varset_BBDISP=Pay%20&%20Go%20help,question=ref(User):str(Mobile),cmd=new,varset_searcharea=AllMobile" title="Pay &amp; Go help" target="_self">Pay &amp; Go help</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?,New,KB=Companion,T=Mobile_Support" title="Phone help" target="_self">Phone help</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,KB=Companion,T=Lvl2_OurServices,ts=Care2_5_Customer,varset_BBTOPIC=OurServices,varset_BBDISP=Our%20services,question=ref(User):str(Mobile),varset_searcharea=AllMobile" title="Our services" target="_self">Our services</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,KB=Companion,T=Mobile_Email,ts=Care2_5_Customer,varset_BBTOPIC=MobileEmail,varset_BBDISP=Mobile%20email,question=ref(User):str(Mobile)" title="Mobile email help" target="_self">Mobile email help</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,KB=Companion,T=Main,Problem=19200,varset_lvl2prob=Lost%20or%20stolen%20phone,question=ref(User):str(Mobile)" title="Lost &amp; stolen" target="_self">Lost &amp; stolen</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,KB=Companion,question=ref(User):str(Mobile),t=Lvl2_Nemo,varset_BBTOPIC=O2Family,varset_BBDISP=O2%20Family" title="O2 Family" target="_self">O2 Family</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,KB=Companion,T=Kylie_Lvl2,question=ref(User):str(Mobile),varset_BBTOPIC=O2TopUp,varset_BBDISP=O2%20Top-up%20Surprises" title="O2 Top-up Surprises" target="_self">O2 Top-up Surprises</a></li>
<li>
<a class="levelActive" href="http://www.o2.co.uk/apps/getPUK/welcome" title="Unblock my Mobile" target="_self">
Unblock my Mobile</a>
</li>
</ul>
</li>
<li>
<a href="http://www.o2.co.uk/support/broadbandinternet" title="Broadband &amp; Internet" target="_self">Broadband &amp; Internet</a></li>
<li>
<a href="http://www.o2.co.uk/support/iphonehelp" title="iPhone help" target="_self">iPhone help</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE?New,Kb=Companion,T=vanilliafaqs,remove=cases,varset_searcharea=AllMobile,question=ref(User):str(Mobile),VARSET_WhichFolder=o2moneynew,VARSET_BBTOPIC=o2Money,cmd=new" title="O2 Money help" target="_self">O2 Money help</a></li>
<li>
<a href="http://www.o2.co.uk/support/ukcoverage" title="UK coverage" target="_self">UK coverage</a></li>
<li>
<a href="http://www.o2.co.uk/support/internationalandtravel" title="International &amp; Travel" target="_self">International &amp; Travel</a></li>
<li>
<a href="http://www.o2.co.uk/support/generalhelp/aguidetoservicesfromo2" title="A guide to our services" target="_self">A guide to our services</a></li>
<li>
<a href="http://www.o2.co.uk/support/generalhelp/customerforums" title="Customer forums" target="_self">Customer forums</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?,New,KB=Companion,T=Glossary_mobile" title="Glossary" target="_self">Glossary</a></li>
<li>
<a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?,New,KB=Companion,T=Contact_us" title="Contact us" target="_self">Contact us</a></li>
</ul>
</li>
</ul>





				
			</div>

			<div id="contentCol">
				<a name="a_content"></a>
						<!-- End Complete LHN -->
				
				
				
				
				








<!--  -->

	                      
         

    <?xml version="1.0" encoding="UTF-8"?>
<div class="innerContentGrid">
<div id="PUKcontent">
<div class="breadcrumbBox">
<ul>
<li>
<span class="breadcrumbFontTitle">You are in</span>
</li>
<li class="breadCrumbArrow">
<a href="/" title="O2 Home" target="_self">O2 Home</a>
</li>
<li class="breadCrumbArrow">
<a href="/help" title="Help" target="_self">Help</a>
</li>
<li>
<span class="breadCrumbPage">Unblock My Mobile</span>
</li>
</ul>
</div>
<div class="bodyHdr01Text">
<h1>Unblock My Mobile</h1>
</div>
<div class="bodyText">
<p>
        If you suspect that your handset has become blocked, you may need a PUK Code. PUK stands for Personal Unblocking Key. If you have entered your PIN code incorrectly 3 times your sim card will be blocked and you will be unable to make and receive calls/texts.
      </p>
<p>
        Check the table below to find the error message your handset is displaying, this will help you decide how to proceed.
      </p>
</div>
<br/>
<table border="0" cellspacing="0" cellpadding="0" class="genericTable">
<thead>
<tr>
<th>Manufacturer</th>
<th>If you see the following - you need a PUK</th>
<th class="noBorderRight">If you see the following - you need a new SIM</th>
</tr>
</thead>
<tbody>
<tr>
<td>Sony Ericcson</td>
<td>Pin blocked - Unblock?</td>
<td class="noBorderRight">Blocked - Contact your Card Provider</td>
</tr>
<tr>
<td>Motorola</td>
<td>Blocked</td>
<td class="noBorderRight">Blocked - See Supplier</td>
</tr>
<tr>
<td>Alcatel</td>
<td>3 Bad Codes! PUK Code</td>
<td class="noBorderRight">Please call operator</td>
</tr>
<tr>
<td>Philips</td>
<td>Enter PUK</td>
<td class="noBorderRight">PIN blocked (May say SIM blocked)</td>
</tr>
<tr>
<td>Nokia</td>
<td>Simcard blocked - Enter PUK</td>
<td class="noBorderRight">Simcard rejected</td>
</tr>
<tr>
<td>NEC</td>
<td>This SIM is blocked</td>
<td class="noBorderRight">Unusable SIM</td>
</tr>
<tr>
<td>Trium</td>
<td>Enter PUK</td>
<td class="noBorderRight">Phone permanently blocked</td>
</tr>
<tr>
<td>Sharp</td>
<td>Pin Blocked Enter PUK</td>
<td class="noBorderRight">PUK Blocked</td>
</tr>
<tr>
<td>Panasonic</td>
<td>SIM blocked</td>
<td class="noBorderRight">SIM blocked</td>
</tr>
<tr>
<td>O2 XDA / XDA II</td>
<td>SIM Card blocked. Please enter PUK</td>
<td class="noBorderRight">SIM card is invalid. Contact your service provider for assistance. Emergency calls can still be made.</td>
</tr>
<tr>
<td>Samsung</td>
<td>Please enter PUK Code</td>
<td class="noBorderRight">Contact service provider</td>
</tr>
<tr>
<td>I'm not sure</td>
<td class="noBorderRight" colspan="2">We can give you your PUK code even if you don't know the Make or Model of your handset.</td>
</tr>
</tbody>
</table>
<br/>
<div class="bodyText">
<p>
        If the error message indicates that you need a new SIM, please contact <a href="http://www.o2.co.uk/help/0,,500,00.html" class="textLink" target="_self" title="contact customer services">customer services</a>.
      </p>
<p>
        If the error message indicates that you need a PUK code, please enter your mobile number below and click 'Go'.
      </p>
<p>
        Your PUK number will then be shown to you on screen.
      </p>
<p>
<strong>Please make sure your SIM is activated before using "Unblock my mobile" service on this page.</strong>
</p>
</div>
<br/>
<div class="module19Box">
<fieldset>
<form name="PUKForm" method="post" action="/puk/">
<div class="module19BoxCornertl">
<div class="module19BoxCornertr">
<div class="module19BoxCornerbr">
<div class="module19BoxCornerbl">
<div class="module19BoxContent">
<label for="MPN">Enter your mobile number</label>
<input type="text" name="mpn" id="MPN" class="mobilenumberField" maxlength="20" value=""/>
<input type="submit" alt="Go" value="Go" title="Go" class="srchGoBtnContent"/>
</div>
</div>
</div>
</div>
</div>
<input type="hidden" name="viewmode" value="getPuk"/>
</form>
</fieldset>
</div>
<br/>
</div>
</div>



             
	         	          <!-- served by OPP brandfragments (1476938591371) /footer -->

          <!-- Start Footer -->
          </div>
          <!-- / contentCol -->
          <div class="clear"></div>
        </div>
        <!-- / content -->
        <div class="clear"></div>
      <!-- added to the OD -->
      </div>
      <!-- / page_wrap -->
      <div class="clear"></div>
      <!-- added to the OD-->
    <div id="foot_banner">
      <ul>
        <li class="l1">
          <a href="http://www.o2.co.uk/accessforall" title="Access for all">Access for all</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/sitemap" title="Site Map">Site Map</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/abouto2" title="About O2">About O2</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/careers" title="Careers">Careers</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/affiliates" title="Affiliates">Affiliates</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/contactus" title="Contact Us">Contact Us</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/mediacentre" title="Media centre">Media centre</a>
        </li>
        <li class="l1">
          <a href="http://www.o2.co.uk/storelocator" title="Store locator">Store locator</a>
        </li>
      </ul>
      <!--p><span>We're better, connected. </span></p-->
      <br />
    </div>
    <div id="footer">
      <a id="brand_tag" href="http://www.telefonica.com/" title="Telef&oacute;nica" rel="external"><span>Telef&oacute;nica</span> </a>
      <p id="copyright">&copy; 2012 Telef&oacute;nica UK Limited.
        <a href="http://www.o2.co.uk/termsandconditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
        <a href="http://www.o2.co.uk/termsandconditions/privacy-policy" title="Privacy Policy">Privacy Policy</a>
      </p>
      <br />
    </div>
  <!-- end wrapper -->
  </div>
  
  <!-- EXPORTED TAGS --> 




<!------- Tags for First Party oneTag-------> 
 
<!-- One Tag Conditional Container: O2 UK First Party Adserved (2746) | First Party oneTag (1752) -->

<script type="text/javascript">
var ft_onetag_1752 = {
	ft_vars:{
		"ftXRef":"",
		"ftXValue":"",
		"ftXType":"",
		"ftXName":"",
		"ftXNumItems":"",
		"ftXCurrency":"",
		"U1":"",
		"U2":"",
		"U3":"",
		"U4":"",
		"U5":"",
		"U6":"",
		"U7":"",
		"U8":"",
		"U9":"",
		"U10":"",
		"U11":"",
		"U12":"",
		"U13":"",
		"U14":"",
		"U15":"",
		"U16":"",
		"U17":"",
		"U18":"",
		"U19":"",
		"U20":"",
                "U21":"",
                "U22":"",
                "U23":"",
                "U24":"",
                "U25":"",
                "U26":"",
                "U27":"",
                "U28":"",
                "U29":"",
                "U30":""
		},
	ot_dom:document.location.protocol+'//servedby.o2.co.uk',
	ot_path:'/container/2746;14241;1752;iframe/?',
	ot_href:'ft_referrer='+escape(document.location.href),
	ot_rand:Math.random()*1000000,
	ot_ref:document.referrer,
	ot_init:function(){
		var o=this,qs='',count=0,ns='';
		for(var key in o.ft_vars){
			qs+=(o.ft_vars[key]==''?'':key+'='+o.ft_vars[key]+'&');
		}
		count=o.ot_path.length+qs.length+o.ot_href+escape(o.ot_ref).length;
		ns=o.ot_ns(count-2000);
		document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="'+o.ot_dom+o.ot_path+qs+o.ot_href+'&ns='+ns+'&cb='+o.ot_rand+'"></iframe>');
	},
	ot_ns:function(diff){
		if(diff>0){
			var o=this,qo={},
				sp=/(?:^|&)([^&=]*)=?([^&]*)/g,
				fp=/^(http[s]?):\/\/?([^:\/\s]+)\/([\w\.]+[^#?\s]+)(.*)?/.exec(o.ot_ref),
				ro={h:fp[2],p:fp[3],qs:fp[4].replace(sp,function(p1,p2,p3){if(p2)qo[p2]=[p3]})};
			return escape(ro.h+ro.p.substring(0,10)+(qo.q?'?q='+unescape(qo.q):'?p='+unescape(qo.p)));
		}else{
			var o=this;
			return escape(unescape(o.ot_ref));
		}
			}
	}
ft_onetag_1752.ot_init();
</script>
  
</body>
</html>

	               
 

