<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
</head>
<body>
<div class="module19Box">
<fieldset>
<form name="PUKForm" method="post" >
	<label for="MPN">Enter your mobile number</label>
	<input type="text" name="mpn" id="MPN" class="mobilenumberField" maxlength="20" value=""/>
	<input type="submit" alt="Go" value="Go" title="Go" class="srchGoBtnContent"/>
	<input type="hidden" name="viewmode" value="getPuk"/>
</form>
</fieldset>
  
</body>
</html>

	               
 

